<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\Alex\IdeaProjects\JavaHomeTasks\SimpleServlet\src\main\webapp\data\
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>ImageStorageServlet</servlet-name>
        <servlet-class>com.odmytrenko.servlet.ImageStorageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageStorageServlet</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.odmytrenko.servlet.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/filter/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ProfileFilter</filter-name>
        <filter-class>com.odmytrenko.filter.ProfileFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ProfileFilter</filter-name>
        <url-pattern>/filter/profile/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.odmytrenko.filter.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/filter/login/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.odmytrenko.filter.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/filter/adminconsole/*</url-pattern>
    </filter-mapping>

</web-app>